<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.basketstat/menu.application" insertBefore="administration">
        <item screen="bst_Player.browse" caption="msg://com.company.basketstat.screen.player/playerBrowse.menu"/>
        <item screen="bst_Team.browse" caption="msg://com.company.basketstat.screen.team/teamBrowse.menu"/>
        <item screen="bst_Game.browse" caption="msg://com.company.basketstat.screen.game/gameBrowse.menu"/>
    </menu>

</menu-config>